body{
    margin: 0;
}
.navegador{
    background-color: rgb(172, 142, 255);
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
ul{
    list-style-type: none;
    display: contents;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    background-color: rgb(172, 142, 255);
    width: 10%;
    height: 100%;
    text-align: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo > img{
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    justify-content: space-around;
}

li:hover{
    background-color: rgb(115, 85, 199);
}
.box-search input {
    border: 1px solid #241d565c;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px;
} 
header{
    text-align: center;
    width: auto;
    height: 30%;
}
.holder {
    display: flex;
    margin: 0 auto;
    width: 30%;
    justify-content: space-evenly;
}
h6{
    margin: 5% auto;
}

h1{
    margin: 0 auto;
}
h5{
    margin: 5% auto;
}
.holder .boton{
    padding: 10px;
    border: 1px solid rgb(115, 85, 199);
    border-radius: 5px;
}
.boton.uno{
    color: white;
    background-color: rgb(115, 85, 199);
}
.boton.dos{
    color: rgb(115, 85, 199);
}
.boton:hover{
    background-color: rgb(167, 136, 255);
}