body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.navegador{
    background-color: rgb(172, 142, 255);
    height: 50px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
ul{
    list-style-type: none;
    display: contents;
    margin: 0;
    padding: 0;
}
li{
    display: flex;
    background-color: rgb(172, 142, 255);
    width: 10%;
    height: 100%;
    text-align: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.logo > img{
	width: 50px;
	height: 50px;
	object-fit: cover;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 10%;
    justify-content: space-around;
}

li:hover{
    background-color: rgb(115, 85, 199);
}
.box-search input {
    border: 1px solid #241d565c;
    border-radius: 3px;
    font-size: 14px;
    padding: 6px;
} 
header{
    text-align: center;
    width: auto;
    height: 30%;
}
.holder {
    display: flex;
    margin: 0 auto;
    width: 30%;
    justify-content: space-evenly;
}
h6{
    margin: 5% auto;
    color: rgb(183, 0, 255);
    font-weight: 200;
    font-size: 15px;
}

h1{
    margin: 0 auto;
    color: rgb(90, 40, 207);
    font-weight: 700;
    font-size: 60px;
}
h5{
    margin: 5% auto;
    color: rgb(143, 143, 143);
    font-weight: 400;
    font-size: 20px;
}
.holder{
    margin-bottom: 5%;
}
.holder .boton{
    padding: 10px;
    border: 1px solid rgb(115, 85, 199);
    border-radius: 5px;
    transition: 0.3s;
}
.boton.uno{
    color: white;
    background-color: rgb(115, 85, 199);
}
.boton.dos{
    color: rgb(115, 85, 199);
}
.boton:hover{
    background-color: rgb(167, 136, 255);
}
.contenedor{
    height: 300px;
    display: flex;
    margin-bottom: 10%;
    align-items: center;
    justify-content: space-evenly;
}
.contenedor img{
    width: 12%;

}
footer{
    height: 250px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(205, 187, 255);
    justify-content: space-evenly;
    }

.links{
    width: 25%;
    display: flex;
    justify-content: space-between;
}
.links a{
    text-decoration: none;
    color: white;
    background-color: rgb(156, 102, 255);
    border-radius: 5px;
}
.redes-footer{
    display: flex;
    width: 25%;
    height: 50px;
    justify-content: space-evenly;
}
.redes-footer img{
    width: 50px;
    height: 50px;
}